/* Uses Poppins text, add links to index.html */
/* <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Instrument+Serif&family=Montserrat:wght@100&family=Poppins&family=Roboto:wght@700&display=swap" rel="stylesheet"> */

/* colors:
Primary: #a4b5cc (RGB: 164, 181, 204)
Secondary: #d9e4f2 (RGB: 217, 228, 242)
Accent: #5c7ca3 (RGB: 92, 124, 163)

darkmode secondary: #0d1826;
darkmode accent: #9db0c8;
*/

/* Themes */
/* .light-mode {
  color: #050505;
  background-color: #e8ffff;
}

.dark-mode {
  color: #e8ffff;
  background-color: #050505;
} */

/* formatting */

.flex-row {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  margin: 1rem;
}

.flex-column {
  display: flex;
  gap: 1rem;
  margin: 1rem;
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.center {
  align-content: center;
  margin: 0px;
}

.card {
  border-radius: 1rem;
}

/* elements */

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* remove below if themes applied */
  color: white;
  background-color: #37383b;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  background-color: #9db0c8;
  border-radius: 1rem;
  margin: 1rem;
  padding: 0.5rem;
}

button:hover {
  background-color: #345e75;
  color: white;
}

nav ul li {
  list-style-type: none;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  color: #5c7ca3;
}

nav p:hover {
  cursor: pointer;
  color: #5c7ca3;
}

main {
  margin: auto;
  width: 80%;
  text-align: center;
}

/* colors */

.secondary {
  background-color: #0d1826;
}

.accent {
  background-color: #9db0c8;
}
